<div id="pagewrapper"> 
  <div id="page">
    <div id="header">
      <div id="branding">
        <a href="#"><img src="images/generic/branding.png" width="81" height="110" alt="Branding" /></a>
      </div><!-- end branding -->
      <img src="images/generic/brandingslogan.png" width="752" height="24" alt="Brandingslogan" class="brandingslogan" />
    </div>
    <div id="content" class="clearfix">

      {{outlet}}
      
      <div id="nav">
        <div class="wrapper">
          <h2 class="accessibility">Navigation</h2>
          <ul class="clearfix">

            {{#each}}
              <li>
                {{#unless this.parent}}
                  {{#unless this.hidden}}
                    {{#link-to 'page' this}}
                      <!-- if isCurrentPage -->
                        <!-- <img {{bind-attr src=navImageActive}} width="74" height="74" {{bind-attr alt=title}} /> -->
                      <!-- else -->
                        <img {{bind-attr src=navImage}} width="74" height="74" {{bind-attr alt=title}} class="rollover" {{bind-attr data-default=navImage}} {{bind-attr data-rollover=navImageHover}} />
                      <!-- /if -->
                    {{/link-to}}
                  {{/unless}}
                {{/unless}}
              </li>
            {{/each}}

          </ul>
        </div>
        <hr />
      </div><!-- end nav -->
        
    </div><!-- end content -->
   
    {{#if isHomepage}}
      <div id="footer_index" class="clearfix">
    {{else}}
      <div id="footer" class="clearfix">
    {{/if}}
      <ul>
        <li>{{#link-to 'page' 'about-us'}}About Us{{/link-to}}</li>
        <li>{{#link-to 'page' 'our-people'}}Our People{{/link-to}}</li>
        <li>{{#link-to 'page' 'workplace-rehabilitation'}}Workplace Rehabilitation{{/link-to}}</li>
        <li>{{#link-to 'page' 'disability-employment-services'}}Disability Employment Services{{/link-to}}</li>
        <li>{{#link-to 'page' 'national-panel-of-assessors'}}National Panel of Assessors{{/link-to}}</li>
        <li>{{#link-to 'page' 'occupational-therapy'}}Occupational Therapy {{/link-to}}</li>
        <li>{{#link-to 'page' 'links'}}Links{{/link-to}}</li>
      </ul><br>
      
      <ul>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'page' 'sitemap'}}Site Map{{/link-to}}</li>
        <li>{{#link-to 'page' 'copyright'}}Copyright{{/link-to}}</li>
        <li>{{#link-to 'page' 'privacy'}}Privacy{{/link-to}}</li>
        <li>{{#link-to 'page' 'disclaimer'}}Disclaimer{{/link-to}}</li>
      </ul>
            
    </div><!-- end footer -->
    
  </div><!-- end page -->
</div>
<div id="extra1">&nbsp;</div>
<div id="extra2">&nbsp;</div>